.App {
  text-align: center;
}

body {
  background-color: rgb(15, 1, 1) !important;
}

.todotask{
  margin : auto;
  margin-bottom: 3rem;
}
Form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top : 6rem;
}

.todolist {
  width :60% !important;
  margin: auto !important;
 
  border-radius:10px;
  z-index: 9999;
  background-color: beige;
  font-size: 2rem;

}